<div class="row">
  <div class="col-md-4">
    <h1>Show Purchase Order</h1>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <h1>
      <%= link_to company_purchase_orders_path, class: 'btn btn-primary', title: 'Back', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
        <span class="glyphicon glyphicon-step-backward"></span>
      <% end %> &nbsp;
      <%= link_to "#{generate_pdf_url}",  class: 'btn btn-primary', title: 'Print Purchase Order', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
        <span class="glyphicon glyphicon-print"></span>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-4">

    <div class="row">
      <div class="col-md-4">
        PO #
      </div>
      <div class="col-md-7">
        <%= "#{@purchase_order.company.code} - #{@purchase_order.purchase_order}" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Confirmation #
      </div>
      <div class="col-md-7">
        <%= "#{@purchase_order.company.code} - #{@purchase_order.confirmation_number}" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Requisition #
      </div>
      <div class="col-md-7">
        <%= "#{@purchase_order.company.code} - #{@purchase_order.requisition_number}" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Supplier :
      </div>
      <div class="col-md-7">
        <%= @purchase_order.customer.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Asset :
      </div>
      <div class="col-md-7">
        <%= @purchase_order.asset.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Department :
      </div>
      <div class="col-md-7">
        <%= @purchase_order.department.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Requested by:
      </div>
      <div class="col-md-7">
        <%= @purchase_order.requested_by.first_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Approved by:
      </div>
      <div class="col-md-7">
        <%= @purchase_order.approved_by.first_name %>
      </div>
    </div>

    <h3>Particulars</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Qty</th>
        <th>Unit</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>
      </thead>
      <% @purchase_order.requisition_particulars.each do |particular| %>
        <tr>
          <td><%= particular.quantity %></td>
          <td><%= particular.measurement.name %></td>
          <td><%= particular.description %></td>
          <td><%= particular.amount ? number_with_delimiter('%.2f' % particular.amount) : 0.00 %></td>
          <td><%= total(particular) %></td>
        </tr>
      <% end %>
    </table>

    Total: <%= grand_total(@purchase_order) %>

  </div>
</div>

<br>

<%= form_for [@company, @purchase_order] do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase order from being saved:</h2>

      <ul>
        <% @purchase_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <strong>Attach Scanned Delivery Receipt A</strong>
        <%= f.file_field :po_image1, class: "form-control" %>
      </div>
      <% if @purchase_order.po_image1_file_size%>
        <span>File Size: <%= number_with_delimiter(@purchase_order.po_image1_file_size, :delimiter => ',') %> bytes</span>
      <% end %>
      <%= image_tag @purchase_order.po_image1.url, class: 'img-responsive' %>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <strong>Attach Scanned Delivery Receipt B</strong>
        <%= f.file_field :po_image2, class: "form-control" %>
      </div>
      <% if @purchase_order.po_image2_file_size%>
        <span>File Size: <%= number_with_delimiter(@purchase_order.po_image2_file_size, :delimiter => ',') %> bytes</span>
      <% end %>
      <%= image_tag @purchase_order.po_image2.url, class: 'img-responsive' %>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <strong>Attach Scanned Delivery Receipt C</strong>
        <%= f.file_field :po_image3, class: "form-control" %>
      </div>
      <% if @purchase_order.po_image3_file_size%>
        <span>File Size: <%= number_with_delimiter(@purchase_order.po_image3_file_size, :delimiter => ',') %> bytes</span>
      <% end %>
      <%= image_tag @purchase_order.po_image3.url, class: 'img-responsive' %>
    </div>

  </div>

  <br>

  <div class="actions">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  </div>

<% end %>
