<h1>Listing Measurements</h1>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.name %></td>
        <td><%= link_to 'Show', [:configuration, measurement] %></td>
        <td><%= link_to 'Edit', edit_configuration_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', [:configuration, measurement], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @measurements %>

<br>

<%= link_to 'New Measurement', new_configuration_measurement_path %>
