<h1>Pending Approval</h1>

<% @companies.each do |company| %>
  <br>
  <h3><%= company.name %></h3>
  <hr>

  <h4><a class="btn btn-info btn-xs disabled">Requisitions <span class="badge"><%= @requisitions.where(company_id: company).count %></span></a></h4>
  <% @requisitions.each do |requisition| %>
    <% if requisition.company_id == company.id %>
      <%= requisition.requisition_number %> -
      <%= requisition.company.name %> -
      <%= requisition.asset.name %> -
      <%= 'NO PO' if requisition.purchase_order_id.nil? %> -
      <%= link_to 'view requisition', company_requisition_path(company, requisition) %><br>
    <% end %>
  <% end %>

  <h4><a class="btn btn-warning btn-xs disabled">Purchase Orders <span class="badge"><%= @purchaseorders.where(company_id: company).count %></span></a></h4>
  <% @purchaseorders.each do |po| %>
    <% if po.company_id == company.id %>
      <%= po.purchase_order_number %> -
      <%= po.company.name%> -
      <%= 'NO VOUCHER' if po.voucher_id.nil? %> -
      <%= link_to 'view PO', company_purchase_order_path(company, po) %><br>
    <% end %>
  <% end %>

<% end %>


