<br>

<div class="row">
  <div class="col-md-4">
    <%= link_to new_company_requisition_path, class: 'btn btn-primary' do %>
      <i>New Requisition <span class="glyphicon glyphicon-fire"></span></i>
    <% end %>
  </div>
</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>PO</th>
      <th>CN</th>
      <th>Supplier</th>
      <th>Usage</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
    <tr>
        <td><%= requisition.created_at %></td>
        <td><%= requisition.purchase_order %></td>
        <td><%= requisition.confirmation_number %></td>
        <td><%= requisition.customer.name %></td>
        <td><%= requisition.asset.name %></td>
        <td><%= requisition.department.name %></td>
      <td align="center"><%= link_to company_requisition_path(@company, requisition), class: "btn btn-success btn-xs", title: 'View', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %><span class="glyphicon glyphicon-zoom-in"></span><% end %></td>

      <% if requisition.approved_by_id %>
        <td align="center"><%= link_to edit_company_requisition_path(@company, requisition), class: "btn btn-warning btn-xs disabled", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
      <% else %>
        <td align="center"><%= link_to edit_company_requisition_path(@company, requisition), class: "btn btn-warning btn-xs", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
      <% end %>


      <td align="center"><%= link_to company_requisition_path(@company, requisition), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @requisitions %>

