<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-globe"></span>
      </a>
    </div>
    <% if current_user %>
    <ul class="nav navbar-nav">
      <li class="menu-item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company: <strong><%= current_company %></strong> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% company_list.map do |company| %>
            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= company.name %></a>
              <ul class="dropdown-menu">
                <li class="menu-item"><%= link_to 'requisitions', company_requisitions_path(company) %></li>
                <li class="menu-item"><%= link_to 'purchase orders', company_purchase_orders_path(company) %></li>
                <li class="menu-item"><%= link_to 'vouchers', company_vouchers_path(company) %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.first_name.capitalize %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <% if current_user.role == 'approve' %>
              <li><%= link_to 'Pending Approvals', admin_pending_path %></li>
              <hr>
            <% end %>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% if admin? %>
              <li><hr></li>
              <li><%= link_to "Create User", new_user_registration_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Asset', configuration_assets_path %></li>
            <li><%= link_to 'Account', configuration_accounts_path %></li>
            <li><%= link_to 'Bank', configuration_banks_path %></li>
            <li><%= link_to 'Department', configuration_departments_path %></li>
            <li><%= link_to 'Measurement', configuration_measurements_path %></li>
            <li><%= link_to 'Supplier', configuration_customers_path %></li>
            <li><hr></li>
            <li><%= link_to 'Company', companies_path %></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
