<%= form_for(@voucher) do |f| %>
  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.number_field :customer %>
  </div>
  <div class="field">
    <%= f.label :purchase_order %><br>
    <%= f.number_field :purchase_order %>
  </div>
  <div class="field">
    <%= f.label :confirmation_number %><br>
    <%= f.number_field :confirmation_number %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.number_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :bank %><br>
    <%= f.number_field :bank %>
  </div>
  <div class="field">
    <%= f.label :cheque_number %><br>
    <%= f.number_field :cheque_number %>
  </div>
  <div class="field">
    <%= f.label :cheque_date %><br>
    <%= f.date_select :cheque_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
