<%= form_for [@company, @voucher], html: { multipart: true } do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <span class="label label-primary">
    <%= @voucher.created_at.strftime('created : %B %d %Y ( %A )') %>
  </span>

  <br><br>

  <% if @voucher.editable %>
    <%= render :partial => 'vouchers/edit_views/edit', :locals => {:f => f} %>
  <% else %>
    <%= render :partial => 'vouchers/edit_views/no_edit', :locals => {:f => f} %>
  <% end %>

<% end %>

