<p id="notice"><%= notice %></p>

<h1>Listing Vouchers</h1>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Paid To</th>
      <th>Bank</th>
      <th>Cheque #</th>
      <th>Cheque Date</th>
      <th>PO #</th>
      <th>CN</th>
      <th>Account</th>
      <th>Department</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.customer.name %></td>
        <td><%= voucher.bank.name %></td>
        <td><%= voucher.cheque_number %></td>
        <td><%= voucher.cheque_date %></td>
        <td><%= voucher.purchase_order %></td>
        <td><%= voucher.confirmation_number %></td>
        <td><%= voucher.account.title %></td>
        <td><%= voucher.department.name %></td>
        <td><%= voucher.description %></td>
        <td><%= sum_hash(voucher.particulars)%></td>
        <td><%= link_to 'Show', voucher %></td>
        <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
        <td><%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_voucher_path, class: 'btn btn-primary' do %>
  <i>New Voucher <span class="glyphicon glyphicon-fire"></span></i>
<% end %> <br>


