<p id="notice"><%= notice %></p>

<p>
  <strong>Paid to:</strong>
  <%= @voucher.customer.name %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @voucher.bank.name %>
</p>

<p>
  <strong>Cheque #:</strong>
  <%= @voucher.cheque_number %>
</p>

<p>
  <strong>Cheque date:</strong>
  <%= @voucher.cheque_date %>
</p>

<p>
  <strong>Purchase order:</strong>
  <%= @voucher.purchase_order %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @voucher.confirmation_number %>
</p>

<p>
  <strong>Account title:</strong>
  <%= @voucher.account.title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @voucher.department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @voucher.description %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
